@import "tailwindcss";
@import "tw-animate-css";
@import "@flaticon/flaticon-uicons/css/all/all.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #111111;
  --foreground: #fbfbfb;
  --card: #252525;
  --card-foreground: #fbfbfb;
  --popover: #252525;
  --popover-foreground: #fbfbfb;
  --primary: #a855f7;
  --primary-foreground: #fbfbfb;
  --secondary: #db2777;
  --secondary-foreground: #fbfbfb;
  --muted: #434343;
  --muted-foreground: #aeaeae;
  --accent: #434343;
  --accent-foreground: #fbfbfb;
  --destructive: #811e14;
  --destructive-foreground: #fbfbfb;
  --border: #434343;
  --input: #434343;
  --ring: #a855f7;
  --chart-1: #a855f7;
  --chart-2: #db2777;
  --chart-3: #14b8a6;
  --chart-4: #c084fc;
  --chart-5: #f472b6;
  --radius: 0.75rem;
  --sidebar: #252525;
  --sidebar-foreground: #fbfbfb;
  --sidebar-primary: #a855f7;
  --sidebar-primary-foreground: #fbfbfb;
  --sidebar-accent: #434343;
  --sidebar-accent-foreground: #fbfbfb;
  --sidebar-border: #434343;
  --sidebar-ring: #a855f7;
}

.dark {
  --background: #111111;
  --foreground: #fbfbfb;
  --card: #252525;
  --card-foreground: #fbfbfb;
  --popover: #252525;
  --popover-foreground: #fbfbfb;
  --primary: #a855f7;
  --primary-foreground: #fbfbfb;
  --secondary: #db2777;
  --secondary-foreground: #fbfbfb;
  --muted: #434343;
  --muted-foreground: #aeaeae;
  --accent: #434343;
  --accent-foreground: #fbfbfb;
  --destructive: #811e14;
  --destructive-foreground: #fbfbfb;
  --border: #434343;
  --input: #434343;
  --ring: #a855f7;
  --chart-1: #a855f7;
  --chart-2: #db2777;
  --chart-3: #14b8a6;
  --chart-4: #c084fc;
  --chart-5: #f472b6;
  --sidebar: #252525;
  --sidebar-foreground: #fbfbfb;
  --sidebar-primary: #a855f7;
  --sidebar-primary-foreground: #fbfbfb;
  --sidebar-accent: #434343;
  --sidebar-accent-foreground: #fbfbfb;
  --sidebar-border: #434343;
  --sidebar-ring: #a855f7;
}

@layer utilities {
  @keyframes shine {
    0% {
      background-position: 200% center;
    }
    100% {
      background-position: -200% center;
    }
  }

  .animate-shine {
    background: linear-gradient(
      45deg,
      #8b5cf6 0%,
      #ec4899 25%,
      #ffffff 50%,
      #ec4899 75%,
      #8b5cf6 100%
    );
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 8s linear infinite;
  }

  .dark .animate-shine {
    background: linear-gradient(
      45deg,
      #8b5cf6 0%,
      #ec4899 25%,
      #ffffff 50%,
      #ec4899 75%,
      #8b5cf6 100%
    );
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

 @keyframes spin-slow {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .animate-spin-slow {
    animation: spin-slow 20s linear infinite;
  }

@theme inline {
  /* optional: --font-sans, --font-serif, --font-mono if they are applied in the layout.tsx */
  --font-sans: "Inter", "Inter Fallback", system-ui, -apple-system, sans-serif;
  --font-mono: "JetBrains Mono", "Geist Mono", "Geist Mono Fallback", monospace;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
